@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Poppins;
    src: url(../font/Poppins-Regular.ttf);
    font-weight: normal;
}

@font-face {
    font-family: Poppins;
    src: url(../font/Poppins-Bold.ttf);
    font-weight: bold;
}

.transition-all {
    transition-property: all !important;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) !important;
    transition-duration: 500ms !important;
}

.text-shadow-style {
    text-shadow: 2px 4px #29d1eb;
}

/* @font-face {
    font-family: Poppins;
    src: url(../font/Poppins-Light.ttf);
    font-weight: lighter;
} */